.slick_slide_container {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.slick_slide_image {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}
