// $space: 25px;

.slide {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 #999;
  .arrow {
    text-align: center;
    font-family: 'ElegantIcons';
    font-style: normal;
    font-size: x-large;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  &:hover {
    background-image: linear-gradient(to right, #fed700 0%, #fd8d01 100%);
    .arrow {
      color: #fff;
    }
  }
}

.next {
  top: 50%;
  // right: $space;
  transform: translateY(-50%);
}

.prev {
  top: 50%;
  // left: $space;
  transform: translateY(-50%);
}
