.slider-wrapper {
  height: 470px;
}

.slick-slider {
  position: relative;
}

.slick-list .slick-slide {
  margin: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  margin: auto;
  li {
    width: 16px;
    height: 5px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #999999;
    z-index: 10;
    border: none;
    button {
      opacity: 0;
    }
  }
  li.slick-active {
    background-color: #ffba15;
  }
}
