.slider-wrapper {
  height: 470px;
}

.slick-slider {
  position: relative;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-slide {
  height: 100%;
}

.slick-list {
  margin: 0 -10px;
}

.slick-list .slick-slide {
  margin: 0;
}

.slick-arrow {
  visibility: hidden;
}
