.slick_slide_container {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 100%;
}

.slick_slide_image_container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.slick_slide_image {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform-origin: center center;
  transform: scale(1);
  cursor: zoom-in;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.custom_slick_dots {
  position: absolute;
  bottom: -4px;
  width: 100px;
  margin: 0 8px;
}
